{% extends "base.layout.twig" %}

{% block page_content %}

    <div class="container">
        <h1>About</h1>

        <h3>Contact</h3>
        <p>transfer.pw is a volunteer effort (i.e. non-commercial project) developed and operated by Arno Hollosi.</p>
        <p>Please direct any questions you have to &lt;<em>info at transfer . pw</em>&gt;</p>

        <h3>CLI client</h3>
        <p>A simple Python CLI client for encoding and sending messages is available:
            <a href="transfer_pw.py.txt">transfer_pw.py</a></p>

        <h3>Source code</h3
        <p>Source code of this site is available on <a href="https://bitbucket.org/arnoh/onetimeonly/src/master/">bitbucket.org</a>.</p>

        <h3>Data collected</h3>

        <h4>In our database</h4>
        <p>Our database only stores the ID of the message (which is the part of the URL before '#'),
            when the message was stored (so that we can delete it after about 30 days), and the encrypted
            message itself. We do not store any other information. As such the data in the database
            is anonymous data according to the <a href="https://gdpr.eu/">GDPR</a>,
            because no one (even we) can link it back to a person.</p>

        <h4>Operational data</h4>
        <p>Our webserver stores the usual access and error log entries. They contain:</p>
        <ul>
            <li>IP address ... from which address did a web request originate?</li>
            <li>Time ... time of access</li>
            <li>HTTP method and path of request ... e.g. "GET / HTTP/1.1"</li>
            <li>HTTP status code and response size</li>
            <li>Error messages ... if the request resulted in a program error, the error message is recorded</li>
        </ul>

        <p>We do not store other information like e.g. browser name and version, operating system, referring
            website etc.</p>
        <p>Access and error logs are deleted after 30 days. Only anonymous aggregate information (such as
        how many requests in total were sent in a given month) are kept.</p>

        <p>IP addresses are personal identifiable information according to the GDPR. As such you can
        contact us about any web logs we have stored about your IP address, given you can prove to us that
        you were using that address at that time. As we delete log files after 30 days, we cannot provide
        information that is older than 30 days.</p>

        <h4>Cookies &amp; third parties</h4>
        <p>We do not use cookies.</p>
        <p>We do not use any third parties (e.g. tracker scripts, advertisements etc.)</p>
        <p>We do not share any information with third parties (except maybe for anonymous aggregate information
            like total number of requests in a given month.)</p>
        <p>The site is run on a dedicated (bare-metal) server rented from a German hosting provider.</p>

        <h3>Security</h3>
        <p>We take security seriously: we keep the server up to date with latest security patches,
            data is encrypted during transit, message content never reaches us in plain text
            (see <a href="/faq">FAQ</a>.) We have strong access controls in place, and do not store data
            longer than absolutely necessary. In addition, we have independent code reviews of our website
            (albeit in irregular intervals.)</p>
        <p>If you find a security related issue or have a security related question, please contact us
            at &lt;<em>info at transfer . pw</em>&gt; [<a href="https://keys.openpgp.org/search?q=info@transfer.pw">GPG key</a>, 171895E14AD4B9BEA79ADC7544DF906F1DE9E22E]</p>
    </div>

{% endblock %}
