<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/design/bootstrap.min.css" rel="stylesheet">
    <link href="/design/main.css?v=20191016" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Transfer passwords, view one time only{% endblock %}</title>
    <link rel="icon" href="/design/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/design/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/design/apple-touch-icon-ipad-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/design/apple-touch-icon-iphone-retina-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/design/apple-touch-icon-ipad-retina-152x152.png">
</head>
<body>

{% block top_bar %}
    <header class="navbar navbar-fixed-top">
        <a class="navbar-brand" href="/">transfer.pw</a>
    </header>
{% endblock %}

{% block page_content %}{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <hr>
            <p>&copy; xmp.net &mdash; <a href="/about">About &amp; policies</a></p>
        </div>
    </footer>
{% endblock %}

<script src="/js/jquery-3.7.1.min.js" type="text/javascript"></script>
<!-- sjcl.js is the Stanford Javascript Crypto Library from https://bitwiseshiftleft.github.io/sjcl/ -->
<script src="/js/sjcl-1.0.8.min.js" type="text/javascript"></script>
<!-- main.js contains our encrypt and decrypt functions -->
<script src="/js/main.js?v=20191016" type="text/javascript"></script>
{% block afterScripts %}{% endblock %}

</body>
</html>
