{% extends "base.layout.twig" %}

{% block page_content %}

    {% if not msgIsValid %}
        <div class="container">
            <div class="alert alert-warning">
                <h1>Problem with your message</h1>
                <p>There was an error while receiving your message. We are sorry. Please try again.</p>
                <p>Most likely, your message was too long - in that case, try a shorter message.</p>
                <p>Please note: the message has not been stored.</p>
            </div>
        </div>
    {% elseif not msgIsStored %}
        <div class="container">
            <div class="alert alert-danger">
                <h1>Problem storing your message</h1>
                <p>
                    There was an error while we tried to store your message.
                    This is our fault. We are sorry. Please try again.
                </p>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="alert alert-success">
                <h3>Your message was successfully encrypted.</h3>
                <h3><u>Copy</u> and <u>share</u> the link below with your recipient.</h3>
            </div>
            <p class="transferLink">
                <button id="copyButton">Copy</button>
                <span id="transferLink">https://transfer.pw/{{ id }}</span>
            </p>
            <p class="additional-info">
                <strong>Please note:</strong>
                Do not try to verify the page, as the content is deleted after the first view!
            </p>
            <p><a href="/">Encrypt next message.</a></p>
            <p class="additional-info">Here's a QR code of the link above:</p>
            <div id="qrcode" class="additional-info"></div>
        </div>

    {% endif %}

{% endblock %}

{% block afterScripts %}
    <script src="/js/qrcode.min.js" type="text/javascript"></script>
    <script src="/js/save.js" type="text/javascript"></script>
{% endblock %}
