{% extends "base.layout.twig" %}

{% block page_content %}

{% if not itemOk %}
    <div class="container">
        <div class="alert alert-danger">
            <div class="container">
                <h1>Oops</h1>
                <p>There was an error while retrieving your message. This is our fault. We are terribly sorry. Please try again.</p>
            </div>
        </div>
    </div>

{% elseif not itemExists %}
    <div class="container">
        <div class="alert alert-warning">
            <h1>This message does not exist</h1>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">What should you do now?</h3>
            </div>
            <div class="panel-body">
                <p>There are four possible reasons, why this message does not exist:</p>
                <ol>
                   <li><strong>The URL is wrong:</strong> check the URL again and make sure, you have not made any mistakes.</li>
                   <li><strong>The message has expired:</strong> we only store messages for about 30 days.
                       If your URL is older, we may have deleted the message already.</li>
                   <li><strong>You try to view the message a second time:</strong> sorry, we delete the message immediately
                       after the first access. Only this ensures the confidentiality of the message.</li>
                   <li><strong class="alert-danger">Some else viewed the message before you:</strong>
                       if you are trying to view the message for the first time, are using the correct URL all within 30 days,
                       then this means that <strong>someone else</strong> viewed the message before you.
                       You should immediately take steps in order to mitigate any consequences that may arise from someone else
                       having read the message. We suggest you contact the sender of the message in order to
                       inform him or her about the breach of confidentiality.</li>
                </ol>
             </div>
        </div>
    </div>

{% else %}
    <div class="container" id="showMessage">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Your message</h3>
            </div>
            <div class="panel-body">
                <pre id="msgContent">... loading ...</pre>
            </div>
        </div>
        <div id="deleteNotice" class="alert alert-success">
            <p><strong>Please note:</strong> Copy the contents of the message somewhere - the message has already been deleted from the server!</p>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block afterScripts %}
    <script src="/js/view.js" type="text/javascript"></script>
{% endblock %}